.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}

.hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-pane {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;
    display: none;
    background-color: rgba(244, 244, 244, 0.8);
}

.success {
    background-color: #d4edda;
}
.danger {
    background-color: #f8d7da;
}

body {
    background-color: lightblue;
}

h1 {
    color: black;
}

p {
    width: 70%;
}

a {
    padding: 10px;
}

#rectangle {
    border-radius: 25px;
    width: 90%;
    height: 80%;
    background: #6495ED;
    padding: 75px;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 5%;
}

.navBar {
    background-color: #FFFAF0;
    overflow: hidden;
    margin-top: 4%;
    position: absolute;
}

.navBar a {
    float: left;
    color: black;
    text-align: center;
    padding: 18px 10px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5vw;
    margin-right: 9.55vw;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
}

.navBar a.active {
    background-color: #4CAF50;
    color: white;
}
